# Virtual environment
.venv/
.vscode/

# Python
__pycache__/
*.py[cod]
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store

# model artifacts
notebooks/artifacts/
artifacts/
deprecated/bianchi_replication